.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
".quartz-cache"
content/private
WebResume
content/WebResume
/content/masri-programmer-app/
masri-programmer-app/