.navbar {
  z-index: 10;
  position: fixed;
  padding: 15px 20px;
  background-color: var(--light);
  top: 0;
  width: 100%;
  left: 0;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  text-decoration: none;
  color: var(--darkgray);
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
  color: var(--secondary);
}

@media (max-width: 800px) {
  .navbar,
  .nav-links {
    display: none;
  }
}
